@media all and (min-width: 480px) {
  .pat_container {
      display: flex;
      flex-direction: row;
      height: 88vh;
    }

  .pane_cont {
    /* border: 1px solid grey; */
    margin: 10px;
  }

  .left_col {
    margin: 10px;
    height: 80vh;
    overflow: auto;
  }
  
  .right_col {
    margin: 10px;
    height: 80vh;
    width: 98%;
    overflow: auto;
  }

  .img_r, .math_r {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .math_i {
    max-height: 30px;
  }

  .math_d {
    text-align: center;
  }
}